.o-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 10px solid var(--pico-primary-underline);
    background-color: var(--pico-primary-background);

    .title {
        margin-bottom: 0;
        a {
            color: var(--pico-primary-inverse);
        }
    }
    
    .subheading {
        margin: 0;
        color: var(--pico-primary-inverse);
        opacity: 0.6;
    }
    
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        a {
            color: var(--pico-primary-inverse);
            opacity: 0.5;
            text-decoration: none;
            padding: 0.5em 1em;
            border-radius: 4px;
            transition: background-color 0.2s;

            &:hover {
                background-color: var(--pico-primary-hover);
                opacity: 1;
            }
        }
    }
}