.o-post-list {
    margin-top: 1em;

    ul {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .post {
        display: flex;
        flex-direction: row;
        align-items: center;

        h4 {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0.2em;
        }

        hr {
            flex-grow: 1;
            border-style: dashed;
            border-color: var(--pico-primary);
        }

        /* Post date */
        time {
            margin-left: 0.5em;
            margin-right: 1em;
        }

    }
}